/* Body background */

.white-color {
    background: #FDFDFD;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}
.black-color {
    background: #444444;
    color: #FFFFFF;
    --color: #FFFFFF;
    --colorR: 255;
    --colorG: 255;
    --colorB: 255;
}
body.black-color.blackBG {
    background: #303030;
}

/* Links colors */
.white-color a {
    color: #222222;
}
.black-color a {
    color: #DDDDDD;
}

/* bars background color (white-color theme), no hover */
.white-color .greenBG {
    background: #20D080;
    color: #FFFFFF;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}
.white-color .blueBG {
    background: #20B0F0;
    color: #FFFFFF;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}
.white-color .yellowBG {
    background: #FFFE3A;
    color: #FFFFFF;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}
.white-color .orangeBG {
    background: #FF6820;
    color: #FFFFFF;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}
.white-color .redBG {
    background: #F02060;
    color: #FFFFFF;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}
.white-color .purpleBG {
    background: #B01070;
    color: #FFFFFF;
    --color: #000000;
    --colorR: 0;
    --colorG: 0;
    --colorB: 0;
}

/* bars background color (black-color theme), no hover */
.black-color .greenBG {
    background: #20B060;
    color: #FFFFFF;
}
.black-color .blueBG {
    background: #2090D0;
    color: #FFFFFF;
}
.black-color .yellowBG {
    background: #F0D03A;
    color: #202020;
}
.black-color .orangeBG {
    background: #FF6820;
    color: #FFFFFF;
}
.black-color .redBG {
    background: #F02060;
    color: #FFFFFF;
}
.black-color .purpleBG {
    background: #B01070;
    color: #FFFFFF;
}
/* bars background color (black-color theme), hover */
.black-color .purpleBG:not(.noHover):hover {
    background: #A01060;
}

/* header elements */
.white-color #header a, .black-color #header a {
    color: #fff;
}
/* BLUE */
.white-color #header.blueBG.links-buttons td, .black-color #header.blueBG.links-buttons td, .white-color #header.blueBG.links-flat td.hoverAnimation:hover, .black-color #header.blueBG.links-flat td.hoverAnimation:hover {
    background: #18A8E8;
}
.white-color #header.blueBG.links-buttons td.hoverAnimation:hover {
    background: #1090D0;
}
.black-color #header.blueBG.links-buttons td.hoverAnimation:hover {
    background: #1070B0;
}
/* GREEN */
.white-color #header.greenBG.links-buttons td, .black-color #header.greenBG.links-buttons td, .white-color #header.greenBG.links-flat td.hoverAnimation:hover, .black-color #header.greenBG.links-flat td.hoverAnimation:hover {
    background: #20E080;
}
.white-color #header.greenBG.links-buttons td.hoverAnimation:hover {
    background: #20C060;
}
.black-color #header.greenBG.links-buttons td.hoverAnimation:hover {
    background: #20A060;
}
/* PURPLE */
.white-color #header.purpleBG.links-buttons td, .black-color #header.purpleBG.links-buttons td, .white-color #header.purpleBG.links-flat td.hoverAnimation:hover, .black-color #header.purpleBG.links-flat td.hoverAnimation:hover {
    background: #C01080;
}
.white-color #header.purpleBG.links-buttons td.hoverAnimation:hover {
    background: #B01070;
}
.black-color #header.purpleBG.links-buttons td.hoverAnimation:hover {
    background: #A01060;
}
/* RED */
.white-color #header.redBG.links-buttons td, .black-color #header.redBG.links-buttons td, .white-color #header.redBG.links-flat td.hoverAnimation:hover, .black-color #header.redBG.links-flat td.hoverAnimation:hover {
    background: #F04070;
}
.white-color #header.redBG.links-buttons td.hoverAnimation:hover {
    background: #F93090;
}
.black-color #header.redBG.links-buttons td.hoverAnimation:hover {
    background: #FF20B0;
}

.white-color #header .center, .black-color #header .center {
    color: #fff;
}

/* lists */
.white-color .light-list > li {
    background: #FDFDFD;
    border-left: 2px solid #A0A0A0;
}
.white-color .light-list > li:hover {
    background: #F0F0F0;
    border-left: 2px solid #202020;
}
.black-color .light-list > li {
    background: #444444;
    border-left: 2px solid #303030;
}
.black-color .light-list > li:hover {
    background: #505050;
    border-left: 2px solid #080808;
}

.white-color table.light-table > tbody > tr > td:not(:last-child) {
    border-right: 2px solid #A0A0A0;
}
.white-color table.light-table > tbody > tr:not(:last-child) > td {
    border-bottom: 2px solid #A0A0A0;
}
.black-color table.light-table > tbody > tr > td:not(:last-child) {
    border-right: 2px solid #303030;
}
.black-color table.light-table > tbody > tr:not(:last-child) > td {
    border-bottom: 2px solid #303030;
}

/* grey text */
.white-color .grey-text, .black-color .grey-text {
    color: #888;
}
