body {
	font-size: 14px;
}
.material-style #header {
	height: 3em;
}
.material-style #header table {
	position: absolute;
	right: 0px;
}
.material-style .small-circle, .material-style .medium-circle, .material-style .very-small-circle,
.material-style .small-circle-hover:hover, .material-style .medium-circle-hover:hover, .material-style .very-small-circle-hover:hover {
	padding-top: 1.35em;
}
.right {
	display: inline-block;
}
.material-style .light-list > li {
	margin-right: 0.3em;
}
.material-style .light-list > li:hover {
	margin-left: 0.3em;
	margin-right: 0em;
}
.spoiler {

}
.spoiler > .spoiler-button {
	width: 100%;
	height: 1.2em;
	border-radius: 2px;
	display: block;
	text-align: center;
}
.spoiler-active > .spoiler-button {
	margin-top: 0.2em;
}
.spoiler > .spoiler-list {
	height: 0px;
	overflow-y: hidden;
	transition: height 0.2s;
}
.spoiler-active > .spoiler-list {
	height: auto;
}
