body {
	font-size: 14px;
}
.material-style #header {
	height: 3em;
}
.material-style #header h1 {
	font-size: 1.4em;
	margin-top: 0.22em;
}
.material-style #header table {
	position: absolute;
	right: 0px;
}
.right {
	display: inline-block;
}
.material-style .desktop-thin {
    font-weight: 100;
}
.material-style .desktop-light {
    font-weight: 150;
}
.material-style .desktop-regular {
    font-weight: 500;
}
.material-style .light-list > li {
	margin-right: 0.3em;
}
.material-style .light-list > li:hover {
	margin-left: 0.3em;
	margin-right: 0em;
}

.desktop-bigger-text {
  font-size: 150%;
}
.desktop-smaller-text {
  font-size: calc(200% / 3);
}

.material-style #header.links-flat-buttons td.hoverAnimation {
    box-shadow: inset 8px 0px 2px -16px rgba(0,0,0,0.45), inset -8px 0px 2px -16px rgba(0,0,0,0.45);
}
.material-style #header.links-flat-buttons td.hoverAnimation:hover {
    box-shadow: inset 8px 0px 8px -8px rgba(0,0,0,0.45), inset -8px 0px 8px -8px rgba(0,0,0,0.45);
}
.material-style .wrap-text {
    text-align: justify;
    width: 20em;
    font-size: 150%;
}
