/*
This code has been entirelly made by Adrien Burgun (adri326). Only use parts of the code, not the entire code. Please add credits when copying.

Made with a simple text editor, with some text highlighting but no syntax propositions and FirefoxDeveloperEdition to test the style. Code originally hosted on GitHub:
https://github.com/adri326/adri326.github.io/main.css/

If you would like to propose me changes, to it on the above repository :)

*/



.material-style, .material-style * {
    transition: all 0.4s;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.material-style h1, .material-style h2, .material-style h3, .material-style h4, .material-style h5, .material-style h6 {
    font-weight: normal;
}
body {
    margin: 0px;
}
.material-style .big-bar {
    width: 100%;
    height: auto;
    font-size: 800%;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    box-sizing: border-box;
}
.material-style .medium-bar {
    width: 100%;
    height: auto;
    font-size: 400%;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    box-sizing: border-box;
}
.material-style .small-bar {
    width: 100%;
    height: auto;
    font-size: 200%;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    box-sizing: border-box;
}
.material-style .very-small-bar {
    width: 100%;
    height: 2em;
    font-size: 140%;
    text-align: center;
    padding-top: 0.45em;
    box-sizing: border-box;
}
.material-style #header {
    width: 100%;
    margin: 0px;
    padding-left: auto;
    padding-right: auto;
    font-size: 150%;
    padding-top: 0em;
    box-sizing: border-box;
}
.material-style #header .center {
    width: 100%;
    position: absolute;
    top: 0.4em;
    left: 0px;
    right: 0px;
    height: 1em;
    text-align: center;
    font-size: 150%;
}
.material-style #header.links-buttons table {
    border-collapse: separate;
    border-spacing: 0.4em;
}
.material-style #header.links-buttons td {
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 1.5px;
}
.material-style #header.links-flat table {
    border-collapse: collapse;
    border-spacing: 0px;
    height: 3em;
}
.material-style #header.links-flat td {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.7em;
    padding-left: 0.7em;
}
.material-style #header a {
    text-decoration: none;
}
.material-style div.big-spacer {
    height: 12em;
}
.material-style span.big-spacer {
    display: inline-block;
    width: 8em;
}
.material-style div.spacer {
    height: 6em;
}
.material-style span.spacer {
    display: inline-block;
    width: 4em;
}
.material-style div.small-spacer {
    height: 3em;
}
.material-style span.small-spacer {
    display: inline-block;
    width: 2em;
}
.center {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    align-content: center;
}
.center > * {
    margin-left: auto;
    margin-right: auto;
}
.material-style .wrap-text {
    text-align: justify;
    width: 20em;
    font-size: 150%;
}
.material-style .medium-circle {
    width: 8em;
    height: 8em;
    border-radius: 8em;
    font-size: 200%;
    padding-top: 2.5em;
    padding-left: 0.0em;
    box-sizing: border-box;
}
.material-style .small-circle {
    width: 8em;
    height: 8em;
    border-radius: 8em;
    font-size: 100%;
    align-content: center;
    box-sizing: border-box;
}
.material-style .small-circle * {
    margin: auto;
}
.material-style .light-list {
    list-style-type: none;
    padding-left: 0px;
    font-size: 150%;
    width: 30em;
}
.material-style .light-list > li {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: left;
}
.right {
    text-align: right;
    float: right;
}
.hoverhidden {
    
}
.hoverhidden .a {
    position: absolute;
    opacity: 1;
}
.hoverhidden .b {
    opacity: 0;
}
.hoverhidden:hover .a {
    opacity: 0;
}
.hoverhidden:hover .b {
    opacity: 1;
}

.material-style .border-right {
    border-right: 2px solid #ffffff;
}
.material-style #content table {
    font-size: 150%;
    width: 60%;
}
.material-style #content table td {
    padding: 1em;
    padding-top: 1em;
    width: 50%;
}
.material-style .thin {
    font-weight: 100;
}
.material-style .light {
    font-weight: 150;
}
.material-style .regular {
    font-weight: 500;
}

/* header borders (links-button theme) */
.material-style #header.links-buttons td.hoverAnimation {
    border: 1px solid rgba(255, 255, 255, 0);
}
.material-style #header.links-buttons td.hoverAnimation:hover {
    border: 1px solid #ffffff;
}

/* textBoxes and textarea */
.material-style input, .material-style textarea, .material-style .button {
    border-radius: 3px;
    padding: 0.2em;
    border: 1px solid rgba(255, 255, 255, 0);
}
input[type=submit], .pointer {
    cursor: pointer;
}
.material-style.black-color input, .material-style.black-color textarea, .material-style.black-color .button {
    background: #282828;
    color: #ffffff;
}
.material-style.white-color input, .material-style.white-color textarea, .material-style.white-color .button {
    background: #D0D0D0;
}
.material-style.white-color input:hover, .material-style.white-color textarea:hover, .material-style.black-color .button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
}
.material-style.black-color input:hover, .material-style.black-color textarea:hover, .material-style.white-color .button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}
* {
    --shadow-width: 0.5dp;
    --shadow-width-big: 0.5dp;
    --shadow-modifier: 0dp;
}
.shadow-layer-1 {
    --shadow-width: 1dp;
    --shadow-width-big: 1dp;
    --shadow-modifier: -0.5dp;
}
.shadow-layer-2 {
    --shadow-width: 1.5dp;
    --shadow-width-big: 1.5dp;
    --shadow-modifier: -1dp;
}


/* elements shadows */
.material-style.white-color.with-shadows .very-small-bar,
.material-style.white-color.with-shadows .small-bar,
.material-style.white-color.with-shadows .medium-bar,
.material-style.white-color.with-shadows .big-bar,
.material-style.white-color.with-shadows .small-circle,
.material-style.white-color.with-shadows .medium-circle,
.material-style.white-color.with-shadows .big-circle,
.material-style.white-color .shadow {
    box-shadow: 0 0 var(--shadow-width) var(--shadow-modifier) rgba(0,0,0,0.25);
}
.material-style.white-color.with-shadows .very-small-bar:hover,
.material-style.white-color.with-shadows .small-bar:hover,
.material-style.white-color.with-shadows .medium-bar:hover,
.material-style.white-color.with-shadows .big-bar:hover,
.material-style.white-color.with-shadows .small-circle:hover,
.material-style.white-color.with-shadows .medium-circle:hover,
.material-style.white-color.with-shadows .big-circle:hover,
.material-style.white-color .shadow:hover {
    box-shadow: 0 0 var(--shadow-width-big) var(--shadow-modifier) rgba(0,0,0,0.30);
}
.material-style.black-color.with-shadows .very-small-bar,
.material-style.black-color.with-shadows .small-bar,
.material-style.black-color.with-shadows .medium-bar,
.material-style.black-color.with-shadows .big-bar,
.material-style.black-color.with-shadows .small-circle,
.material-style.black-color.with-shadows .medium-circle,
.material-style.black-color.with-shadows .big-circle,
.material-style.black-color .shadow {
    box-shadow: 0 0 var(--shadow-width) var(--shadow-modifier) rgba(255,255,255,0.25);
}
.material-style.black-color.with-shadows .very-small-bar:hover,
.material-style.black-color.with-shadows .small-bar:hover,
.material-style.black-color.with-shadows .medium-bar:hover,
.material-style.black-color.with-shadows .big-bar:hover,
.material-style.black-color.with-shadows .small-circle:hover,
.material-style.black-color.with-shadows .medium-circle:hover,
.material-style.black-color.with-shadows .big-circle:hover,
.material-style.black-color .shadow:hover {
    box-shadow: 0 0 var(--shadow-width-big) var(--shadow-modifier) rgba(255,255,255,0.30);
}
