/*
This code has been entirelly made by Adrien Burgun (adri326). Only use parts of the code, not the entire code. Please add credits when copying.

Made with a simple text editor, with some text highlighting but no syntax propositions and FirefoxDeveloperEdition to test the style. Code originally hosted on GitHub:
https://github.com/adri326/adri326.github.io/main.css/

If you would like to propose me changes, to it on the above repository :)

*/



.material-style, .material-style * {
    transition: all 0.4s;
    z-index: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.material-style h1, .material-style h2, .material-style h3, .material-style h4, .material-style h5, .material-style h6 {
    font-weight: normal;
}
body {
    margin: 0px;
}

h1.no-typography-changes, h2.no-typography-changes, h3.no-typography-changes {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.bigger-text {
  font-size: 150%;
}
.smaller-text {
  font-size: calc(200% / 3);
}
.overflow-x {
	word-break: break-all;
	overflow-x: visible;
}

.material-style .big-bar {
    width: 100%;
    height: auto;
    font-size: 800%;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    box-sizing: border-box;
}
.material-style .medium-bar {
    width: 100%;
    height: auto;
    font-size: 400%;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    box-sizing: border-box;
}
.material-style .small-bar {
    width: 100%;
    height: auto;
    font-size: 200%;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    box-sizing: border-box;
}
.material-style .very-small-bar {
    width: 100%;
    height: 2em;
    font-size: 140%;
    text-align: center;
    padding-top: 0.45em;
    box-sizing: border-box;
}
.material-style #header {
    width: 100%;
    margin: 0px;
    padding-left: auto;
    padding-right: auto;
    font-size: 150%;
    padding-top: 0em;
    box-sizing: border-box;
}
.material-style #header .center {
    width: 100%;
    /*position: absolute;
    top: 0.4em;
    height: 1em;*/
    position: static;
    height: 100%;
    left: 0px;
    right: 0px;
    text-align: center;
}
.material-style #header h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.material-style #header.links-buttons table {
    border-collapse: separate;
    border-spacing: 0.4em;
}
.material-style #header.links-buttons td {
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 1.5px;
}
.material-style #header.links-flat table, .material-style #header.links-flat-buttons table {
    border-collapse: collapse;
    border-spacing: 0px;
    height: 3em;
}
.material-style #header.links-flat td, .material-style #header.links-flat-buttons td {
    /*padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0.7em;
    padding-left: 0.7em;*/
}
.material-style #header.links-flat td > *, .material-style #header.links-flat-buttons td > * {
    margin: 0.6em 0.7em 0.6em 0.7em;
}
.material-style #header a {
    text-decoration: none;
}
.material-style div.big-spacer {
    height: 12em;
}
.material-style span.big-spacer {
    display: inline-block;
    width: 8em;
}
.material-style div.spacer {
    height: 6em;
}
.material-style span.spacer {
    display: inline-block;
    width: 4em;
}
.material-style div.small-spacer {
    height: 3em;
}
.material-style span.small-spacer {
    display: inline-block;
    width: 2em;
}
.center {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    align-content: center;
}
.center > * {
    margin-left: auto;
    margin-right: auto;
}

.spoiler-active > .spoiler-button {
  margin-top: 0.2em;
}
.spoiler > .spoiler-list {
  height: 0px;
  overflow-y: hidden;
  transition: height 0.2s;
}
.spoiler-active > .spoiler-list {
  height: auto;
}
.spoiler > .spoiler-button {
  width: 100%;
  height: 1.2em;
  border-radius: 2px;
  display: block;
  text-align: center;
}


.material-style .small-circle, .material-style .medium-circle, .material-style .very-small-circle,
.material-style .small-circle-hover:hover, .material-style .medium-circle-hover:hover, .material-style .very-small-circle-hover:hover {
    padding-top: 1.35em;
}

/* circles */
.material-style .medium-circle, .material-style .small-circle, .material-style .very-small-circle,
.material-style .medium-circle-hover, .material-style .small-circle-hover, .material-style .very-small-circle-hover {
    border-radius: 4em;
    align-content: center;
    box-sizing: border-box;
}
.material-style .medium-circle-hover, .material-style .small-circle-hover, .material-style .very-small-circle-hover {
    width: 1em;
    height: 1em;
    color: rgba(var(--colorR), var(--colorG), var(--colorB), 0);
}
.material-style .medium-circle-hover:hover, .material-style .small-circle-hover:hover, .material-style .very-small-circle-hover:hover {
    color: rgba(var(--colorR), var(--colorG), var(--colorB), 1);
}
.material-style .medium-circle, .material-style .medium-circle-hover {
    font-size: 400%;
}
.material-style .medium-circle, .material-style .medium-circle-hover:hover {
    width: 4em;
    height: 4em;
}
.material-style .small-circle, .material-style .small-circle-hover {
    font-size: 200%;
}
.material-style .small-circle, .material-style .small-circle-hover:hover {
    width: 4em;
    height: 4em;
}
.material-style .very-small-circle, .material-style .very-small-circle-hover {
    font-size: 100%;
}
.material-style .very-small-circle, .material-style .very-small-circle-hover:hover {
    width: 4em;
    height: 4em;
}
.material-style .very-small-circle *, .material-style .small-circle *, .material-style .medium-circle * {
    margin: auto;
}
.material-style .anti-aliasing.medium-circle-hover:hover, .material-style .anti-aliasing.small-circle-hover:hover, .material-style .anti-aliasing.very-small-circle-hover:hover {
    margin-top: 0;
    margin-bottom: 0;
}
.material-style .anti-aliasing.medium-circle-hover, .material-style .anti-aliasing.small-circle-hover, .material-style .anti-aliasing.very-small-circle-hover {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.material-style .light-list {
    list-style-type: none;
    padding-left: 0px;
    font-size: 150%;
    width: 30em;
    max-width: 80%;
}
.material-style .light-list > li {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: left;
}
.right {
    text-align: right;
    float: right;
}
.hoverhidden {

}
.hoverhidden .a {
    position: absolute;
    opacity: 1;
}
.hoverhidden .b {
    opacity: 0;
}
.hoverhidden:hover .a {
    opacity: 0;
}
.hoverhidden:hover .b {
    opacity: 1;
}

.material-style .border-right {
    border-right: 2px solid #ffffff;
}
.material-style #content table {
    font-size: 150%;
    width: 60%;
}
.material-style #content table td {
    padding: 1em;
    padding-top: 1em;
    width: 50%;
}
.material-style .thin {
    font-weight: 100;
}
.material-style .light {
    font-weight: 150;
}
.material-style .regular {
    font-weight: 500;
}

/* Table management */
table.light-table {
    table-layout: fixed;
    width: 80%;
}
table.light-table > tbody > tr > td {
    vertical-align: top;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.3em;
}
table.light-table > tbody > tr > td.tiny-width {
    width: 30%;
}
table.light-table > tbody > tr > td.small-width {
    width: 66.666%;
}
table.light-table > tbody > tr > td.big-width {
    width: 180%;
}
.white-color table.light-table > tbody > tr:not(:last-child) > td {
  border-bottom-right-radius: 1px;
}

/* header links theme */
.material-style #header.links-buttons td.hoverAnimation {
    border: 1px solid rgba(255, 255, 255, 0);
}
.material-style #header.links-buttons td.hoverAnimation:hover {
    border: 1px solid #ffffff;
}

/* textBoxes and textarea */
.material-style input, .material-style textarea, .material-style .button {
    border-radius: 3px;
    padding: 0.2em;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 50%;
}
input[type=submit], .pointer, .button {
    cursor: pointer;
}
.material-style.black-color input, .material-style.black-color textarea, .material-style.black-color .button {
    background: #282828;
    color: #ffffff;
}
.material-style.white-color input, .material-style.white-color textarea, .material-style.white-color .button {
    background: #D0D0D0;
}
.material-style.white-color input:hover, .material-style.white-color textarea:hover, .material-style.white-color .button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
}
.material-style.black-color input:hover, .material-style.black-color textarea:hover, .material-style.black-color .button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}



/* lines */
.material-style .horizontal-line {
    width: var(--size);
    margin-left: calc(50% - var(--size) / 2);
    display: block;
    height: var(--weight);
    padding: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.material-style div.vertical-line {
    margin-left: calc(50% - var(--weight) / 2);
    width: var(--weight);
    height: var(--size);
}
.material-style td.vertical-line {
    width: 4px;
}
.material-style .small-line {
    --size: 4em;
    --weight: 4px;
}
.material-style .medium-line {
    --size: 6em;
    --weight: 4px;
}
.material-style .big-line {
    --size: 8em;
    --weight: 4px;
}

/* no-margin element */
.no-margin > * {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* elements shadows */
* {
    --shadow-width: 0px;
    --shadow-width-big: 0px;
    --shadow-modifier: 0px;
    --shadow-opacity: 0;
}
.shadow-layer-1 {
    --shadow-width: 8px;
    --shadow-width-big: 8px;
    --shadow-modifier: -1px;
    --shadow-opacity: 0.4;
}
.shadow-layer-2 {
    --shadow-width: 16px;
    --shadow-width-big: 16px;
    --shadow-modifier: -2px;
    --shadow-opacity: 0.5;
}
.shadow-layer-3 {
    --shadow-width: 24px;
    --shadow-width-big: 24px;
    --shadow-modifier: -3px;
    --shadow-opacity: 0.6;
}

.material-style.with-shadows .very-small-bar,
.material-style.with-shadows .small-bar,
.material-style.with-shadows .medium-bar,
.material-style.with-shadows .big-bar,
.material-style.with-shadows .medium-circle-hover,
.material-style.with-shadows .small-circle-hover,
.material-style.with-shadows .very-small-circle-hover,
.material-style.with-shadows .very-small-circle,
.material-style.with-shadows .small-circle,
.material-style.with-shadows .medium-circle,
.material-style.with-shadows .big-circle,
.material-style.with-shadows #header,
.material-style .shadow {
    box-shadow: 0 0 var(--shadow-width) var(--shadow-modifier) rgba(0,0,0,var(--shadow-opacity));
}
