body {
	font-size: 2.5vw;
  max-width: 100%;
}
.material-style #header {
    max-height: 5.75em;
}
.material-style #table-container {
	position: absolute;
	top: 2.5em;
	left: 0px;
	right: 0px;
	align-content: center;
	width: 100%;
  height: 3.25em;
}
.material-style #table-container table {
	margin: auto;
  width: 12em;
  text-align: center;
  height: 3.25em !important;
}
@media screen and (max-width: 600px) {
  .material-style .wrap-text {
      text-align: justify;
      width: 16em;
      font-size: 125%;
  }
}
@media screen and (min-width: 600px) {
  .material-style .wrap-text {
      text-align: justify;
      width: 24em;
      font-size: 125%;
  }
}

.mobile-bigger-text {
  font-size: 150%;
}
.mobile-smaller-text {
  font-size: calc(200% / 3);
}
.mobile-overflow-x {
	word-break: break-all;
	overflow-x: visible;
}

.material-style .mobile-thin {
    font-weight: 100;
}
.material-style .mobile-light {
    font-weight: 150;
}
.material-style .mobile-regular {
    font-weight: 500;
}

.material-style .small-circle {
	padding-top: 3em;
}
.material-style .small-circle * {
	transform: scale(1);
}
.material-style .light-list {
  max-width: 100%;
  width: 20em;
  x-overflow: wrap;
}
.material-style .light-list li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: 2px solid #d0d0d0;
  max-height: 3em;
  height: auto;
}
.right {
  display: block;
  width: 100%;
}
.material-style #header.links-flat-buttons td.hoverAnimation {
    box-shadow: inset 0px -8px 2px -16px rgba(0,0,0,0.45);
}
.material-style #header.links-flat-buttons td.hoverAnimation:hover {
    box-shadow: inset 0px -8px 8px -8px rgba(0,0,0,0.45);
}
