* {
    --shadow-width: 0px;
    --shadow-width-big: 0px;
    --shadow-modifier: 0px;
    --shadow-opacity: 0;
}
.shadow-layer-1 {
    --shadow-width: 8px;
    --shadow-width-big: 8px;
    --shadow-modifier: -1px;
    --shadow-opacity: 0.4;
}
.shadow-layer-2 {
    --shadow-width: 16px;
    --shadow-width-big: 16px;
    --shadow-modifier: -2px;
    --shadow-opacity: 0.5;
}
.shadow-layer-3 {
    --shadow-width: 24px;
    --shadow-width-big: 24px;
    --shadow-modifier: -3px;
    --shadow-opacity: 0.6;
}

.material-style.with-shadows .very-small-bar.shadow-layer-1,
.material-style.with-shadows .small-bar.shadow-layer-1,
.material-style.with-shadows .medium-bar.shadow-layer-1,
.material-style.with-shadows .big-bar.shadow-layer-1,
.material-style.with-shadows .medium-circle-hover.shadow-layer-1,
.material-style.with-shadows .small-circle-hover.shadow-layer-1,
.material-style.with-shadows .very-small-circle-hover.shadow-layer-1,
.material-style.with-shadows .very-small-circle.shadow-layer-1,
.material-style.with-shadows .small-circle.shadow-layer-1,
.material-style.with-shadows .medium-circle.shadow-layer-1,
.material-style.with-shadows .big-circle.shadow-layer-1,
.material-style.with-shadows #header.shadow-layer-1,
.material-style .shadow.shadow-layer-1 {
    box-shadow: 0 0 8px -1px rgba(0,0,0,0.4);
}

.material-style.with-shadows .very-small-bar,
.material-style.with-shadows .small-bar,
.material-style.with-shadows .medium-bar,
.material-style.with-shadows .big-bar,
.material-style.with-shadows .medium-circle-hover,
.material-style.with-shadows .small-circle-hover,
.material-style.with-shadows .very-small-circle-hover,
.material-style.with-shadows .very-small-circle,
.material-style.with-shadows .small-circle,
.material-style.with-shadows .medium-circle,
.material-style.with-shadows .big-circle,
.material-style.with-shadows #header,
.material-style .shadow {
    box-shadow: 0 0 var(--shadow-width) var(--shadow-modifier) rgba(0,0,0,var(--shadow-opacity));
}