body {
	font-size: 14px;
}
#header {
	height: 3em;
}
#header table {
	position: absolute;
	right: 0px;
}
.small-circle {
	padding-top: 2.2em;
}
.right {
	display: inline-block;
}
.light-list > li {
	margin-left: 0.6em;
}
.light-list > li:hover {
	margin-left: 1.2em;
	margin-right: 0em;
}
