body {
	font-size: 14px;
}
.material-style #header {
	height: 3em;
}
.material-style #header table {
	position: absolute;
	right: 0px;
}
.material-style .small-circle {
	padding-top: 2.2em;
}
.right {
	display: inline-block;
}
.material-style .light-list > li {
	margin-right: 0.3em;
}
.material-style .light-list > li:hover {
	margin-left: 0.3em;
	margin-right: 0em;
}
