.material-style, .material-style * {
    transition: all 0.4s;
}
.white-color a {
    color: #222222;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.material-style h1, .material-style h2, .material-style h3, .material-style h4, .material-style h5, .material-style h6 {
    font-weight: normal;
}
body {
    margin: 0px;
}
.material-style {
    background: #FDFDFD;
}
.material-style .big-bar {
    width: 100%;
    height: 2em;
    font-size: 800%;
    text-align: center;
    padding-top: 0.45em;
    box-sizing: border-box;
}
.material-style .medium-bar {
    width: 100%;
    height: 2em;
    font-size: 400%;
    text-align: center;
    padding-top: 0.45em;
    box-sizing: border-box;
}
.material-style .small-bar {
    width: 100%;
    height: 2em;
    font-size: 200%;
    text-align: center;
    padding-top: 0.45em;
    box-sizing: border-box;
}
.material-style .very-small-bar {
    width: 100%;
    height: 2em;
    font-size: 140%;
    text-align: center;
    padding-top: 0.45em;
    box-sizing: border-box;
}
.white-color .greenBG {
    background: #20D080;
    color: #FFFFFF;
}
.white-color .blueBG {
    background: #20B0F0;
    color: #FFFFFF;
}
.white-color .yellowBG {
    background: #FFBE3A;
    color: #202020;
}
.white-color .orangeBG {
    background: #FF6820;
    color: #FFFFFF;
}
.white-color .redBG {
    background: #F02060;
    color: #FFFFFF;
}
.white-color .purpleBG {
    background: #B01070;
    color: #FFFFFF;
}
.material-style #header {
    width: 100%;
    margin: 0px;
    padding-left: auto;
    padding-right: auto;
    font-size: 150%;
    padding-top: 0em;
    box-sizing: border-box;
}
.material-style #header .center {
    width: 100%;
    position: absolute;
    top: 0.4em;
    left: 0px;
    right: 0px;
    height: 1em;
    text-align: center;
    font-size: 150%;
}
.white-color #header .center {
    color: #fff;
}
.material-style #header table {

    border-collapse: separate;
    border-spacing: 0.4em;
}
.material-style #header td {
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background: #18A8E8;
    border-radius: 1.5px;
}
.material-style #header a {
    text-decoration: none;
}
.white-color #header a {
    color: #fff;
}
.white-color #header td.hoverAnimation:hover {
    background: #1090D0;
}
.material-style div.spacer {
    height: 6em;
}
.material-style span.spacer {
    display: inline-block;
    width: 4em;
}
.center {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    align-content: center;
}
.center > * {
    margin-left: auto;
    margin-right: auto;
}
.material-style .wrap-text {
    text-align: justify;
    width: 20em;
    font-size: 150%;
}
.material-style .medium-circle {
    width: 8em;
    height: 8em;
    border-radius: 8em;
    font-size: 200%;
    padding-top: 2.5em;
    padding-left: 0.0em;
    box-sizing: border-box;
}
.material-style .small-circle {
    width: 8em;
    height: 8em;
    border-radius: 8em;
    font-size: 100%;
    align-content: center;
    box-sizing: border-box;
}
.material-style .small-circle * {
    margin: auto;
}
.material-style .light-list {
    list-style-type: none;
    padding-left: 0px;
    font-size: 150%;
    width: 30em;
}
.material-style .light-list > li {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: left;
}
.white-color .light-list > li {
    background: #FDFDFD;
    border-left: 2px solid #A0A0A0;
}
.white-color .light-list > li:hover {
    background: #F0F0F0;
}
.light-list > li:hover {
    border-left: 2px solid #202020;
}
.white-color .grey-text {
    color: #888;
}
.right {
    text-align: right;
    float: right;
}
.hoverhidden {
    
}
.hoverhidden .a {
    position: absolute;
    opacity: 1;
}
.hoverhidden .b {
    opacity: 0;
}
.hoverhidden:hover .a {
    opacity: 0;
}
.hoverhidden:hover .b {
    opacity: 1;
}
