body {
	font-size: 26px;
  max-width: 100%;
}
.material-style #header {
    height: 5.75em;
}
.material-style #table-container {
	position: absolute;
	top: 2.5em;
	left: 0px;
	right: 0px;
	align-content: center;
	width: 100%;
}
.material-style #header table {
	margin: auto;
  width: 12em;
  text-align: center;
}
.material-style .small-circle {
	padding-top: 3em;
}
.material-style .small-circle * {
	transform: scale(1);
}
.material-style .light-list {
  max-width: 100%;
  x-overflow: wrap;
}
.material-style .light-list li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: 2px solid #d0d0d0;
  height: 3em;
}
.right {
  display: block;
  width: 100%;
}
