body {
  margin: 0px;
}
.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url(http://eskipaper.com/images/leaves-background-8.jpg);
  background-size: cover;
  z-index: -999;
  filter: blur(2px);
}
header {
  margin-top: 12em;
  box-sizing: padding-box;
  width: 100%;
  padding-top: 0.5em;
  font-size: 22px;
  /*background-image: url("http://u.cubeupload.com/MarlowOfLittleroot/bigtitle.png");
  background-repeat: no-repeat;*/
}
