iframe {
	overflow: hidden;
	overflow-x: hidden;
	height: 42em;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	top: 12em;
	transition-duration: 0.4s !important;
	opacity: 0;
	z-index: -2;
}
iframe#shown {
	z-index: -1;
	opacity: 1;
	top: 3em;
}
#header {
	z-index: 2;
}
.overlay {
	position: fixed;
	font-size: 150%;
	top: 3em;
	bottom: 0;
	z-index: 1;
}
#nextPage {
	right: 0;
	width: 12em;
}
#previousPage {
	left: 0em;
	width: 12em;
}
a {
	cursor: pointer;
}
body {
	overflow-y: hidden;
}